{% extends 'base.html' %}
{% block extra_css %}
    <style>
        @font-face {
            font-family: 'A-OTF-ShinGoPro' ;
            src: url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Light.woff") format('woff');
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'A-OTF-ShinGoPro' ;
            src: url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Regular.woff") format('woff') ;
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'A-OTF-ShinGoPro' ;
            src: url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Medium.woff") format('woff'),
            url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Medium.otf") format("opentype"),
            url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Meium.woff2") format("woff2");
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'A-OTF-ShinGoPro' ;
            src: url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Bold.woff") format('woff'),
            url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Bold.otf") format("opentype"),
            url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Bold.woff2") format("woff2");

            font-weight: 600;
            font-style: normal;
        }

        @font-face {
            font-family: 'A-OTF-ShinGoPro' ;
            src: url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Heavy.woff") format('woff'),
            url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/fonts/A-OTF-ShinGoPro-Heavy.woff2") format("woff2");

            font-weight: 700;
            font-style: normal;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: 'A-OTF-ShinGoPro';
        }

        .text-1 h2 {
            font-size: 28px;
            font-weight: 600;
        }

        .header-container {
            padding: 10px 100px;
        }

        .button-lg {

        }

        .hero-container {
            object-fit: contain;
            background: url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/hero-background-image.png");
            height: 100vh;
            background-size: cover; /* Makes sure the image covers the whole div */
            background-position: center; /* Centers the image within the div */
            background-repeat: no-repeat;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 100px 150px;
        }

        .hero-container img {
            object-fit: contain;
            width: 100%;
            margin: 0px 100px;
        }

        .hero-description {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 30px 70px;
            background: #06587C;
            color: white;


        }

        .title {
            font-weight: 600;
            align-items: center;
        }

        .row {
            margin-top: 40px;
            display: flex;
            gap: 30px;
        }

        .paragraph {

            color: white;
            line-height: 2.5;
            margin-left: 80px;
            width: 85%;
        }

        .description {
            color: white;
            line-height: 2.5;
            margin-left: 80px;
            width: 85%;
            margin-bottom: 40px;
        }

        .description h2 {
            font-size: 20px;
            font-weight: 300;
        }

        .description > span.text-lg {
            font-size: 20px;
        }

        .graph-img {
            object-fit: contain;
            margin: 50px 0px;

        }

        .graph-img-2 {
            object-fit: contain;
            margin: 50px 0px;
            width: 90%;
        }

        .paragraph img {
            object-fit: contain;

        }

        .text-number {
            display: flex;
        }

        .paragraph h2 {
            font-size: 20px;
            margin-left: 43px;
            font-weight: 300;
        }

        .box {
            padding: 25px;
            align-items: center;
            text-align: center;
            flex-direction: column;
            border: 2px solid #FFFFFF;

        }

        .text-number > .title img {
            width: 35px;
            margin-top: 5px;
            margin-bottom: -8px;
        }

        .box-2 {
            padding: 0px 40px 0px 10px;
            align-items: center;
            text-align: center;
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            grid-template-areas: "icon text";
            border: 2px solid #FFFFFF;
            column-gap: 20px;

        }

        .box-2 img {
            text-align: center;
            width: 30px;
            padding: 0px 20px;
            margin: 0;
            grid-area: img;
        }

        .building-icon {
            grid-area: icon;
        }

        .block {
            grid-area: text;
        }

        .box-2 h2 {
            font-weight: 300;
        }

        .text-lg {
            font-family: 'Helvetica Neue';
            font-size: 23px;
            font-weight: 400;
        }

        .text-lg-1 {
            font-family: 'Helvetica Neue';
            font-size: 30px;
            font-weight: 400;
        }

        .box img {
            text-align: center;
            width: 30px;
            margin-bottom: 15px;
        }

        .box h2,
        .box-2 h2 {
            font-size: 17px;
            font-weight: 300;
        }

        .box h2 > .text-lg,
        .box-2 h2 > .text-lg {
            font-size: 20px;
        }

        .section-2 {
            display: flex;
            background: #003553;
            align-items: center;
            flex-direction: column;
        }

        .box-text {
            margin-top: 90px;
            padding: 16px 38px;
            color: white;
            border: 1px solid white;
            line-height: 2.5;
            width: 80%;
        }

        .box-text h1,
        .box-text h2 {

            font-weight: 300;
        }

        .box-text h1 {
            font-weight: 600;
            font-size: 25px;
        }

        .box-text h2 {
            font-size: 15px;
        }

        .text-number {
            display: flex;
            align-items: center;
        }

        .text-number img {

            object-fit: contain;
            width: 23px;
            margin-right: 15px;
        }

        .text-number h1,
        .text-number h2 {
            font-size: 20px;
        }

        .text {
            color: white;
            font-size: 28px;
        }

        h1, h2 {
            font-family: 'A-OTF-ShinGoPro';
            font-weight: 300;
        }


        .section-3 {
            background: url("https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/bg-image-3.png");
            height: 100vh;
            padding-bottom: 220px;
            background-size: cover; /* Makes sure the image covers the whole div */
            background-position: center; /* Centers the image within the div */
            background-repeat: no-repeat;
            align-items: center;
            display: flex;
            flex-direction: column;

        }

        .text-md {
            font-family: 'Helvetica Neue';
            font-size: 22px;
            font-weight: 500;
        }

        .section-3 {
            position: relative;
        }

        .text-overlay {

            background: rgba(0, 0, 0, 0.65);
            padding: 30px 60px;
            position: absolute; /* Positioned with respect to its closest positioned ancestor */
            bottom: 0; /* Stick it to the bottom */
            left: 0; /* Align it to the left edge */
            right: 0;
        }

        td > span.text-lg {
            font-size: 18px;
        }

        .section-4 {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 140px;
            padding-bottom: 120px;
        }

        .section-4 > .paragraph-center {
            line-height: 2.5;
            color: #707070;
            font-size: 23px;
            justify-content: center;
        }

        .text-sm {
            font-size: 25px;
        }

        .text-md-1 {
            font-size: 30px;

        }

        .steps-container {
            margin-top: 130px;
            background: #06587C;
            padding: 20px 70px;
            width: 70%;
        }

        .row {
            gap: 30px;
            justify-content: center;
        }

        .box-item {
            position: relative;
            width: 26%;
            padding: 28px 20px;
            text-align: center;
            background: white;
            color: #707070;
        }

        .box-item img {
            position: relative;
            margin-top: -180px;
        }

        .box-item p {
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
        }

        .section-5 {
            background: #003553;
        }

        .text {
            padding: 100px;
        }

        .text h2 {
            line-height: 2.0;
            font-size: 17px;
            color: white;
        }

        .text > h2 > .text-lg {
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block content %}

<div class="header-container" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="logo">
        <img
                src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/Philip%20Logo.png"
                alt=""
        />
    </div>
    <div class="button-lg"
         style="text-align: center;
         background-color: #FF9300;
         border: 5px solid #C37000;
         border-radius: 20px;
         color: white;
         font-weight: 300;
         font-size: 20px;
         padding: 7px 12px;
         text-align: left;
         ">
        <span style="font-family: 'A-OTF-ShinGoPro', 'sans-serif';
                     font-size: 18px;">最短当日取引開始 !</span><br>
        <span style="font-weight: 600; font-family: 'A-OTF-ShinGoPro', 'sans-serif';">口座開設はこちら</span>
    </div>
</div>
<div class="hero-container">
    <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/hero-img-2.png" alt="">
    <div class="hero-description">
        <h1 class="title">
            フィリップ証券のオンライン先物取引でできること
        </h1>
        <div class="row">

            <div class="box">
                <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/building-logo.png" alt="">
                <h2><span class="text-lg">225 </span>ミニで手数料 <span class="text-lg"> 22 </span>円 <br>
                    業界最安値水準の手数料
                </h2>
            </div>
            <div class="box-2">
                <div class="building-icon">
                    <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/building-logo.png"
                         alt="">
                </div>
                <div class="block">
                    <h2><span class="text-lg">J-Net </span> マッチング <br>
                        サービス市場</h2>
                    <h2>
                        価格よりも有利 <br>
                        になる可能性あり
                    </h2>
                </div>

            </div>
            <div class="box">
                <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/building-logo.png" alt="">
                <h2>夜間も祝日も取引可能!<br>
                    クイック入金でより便利に
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="section-2">
    <div class="button-lg"
         style="
        width: 30%;
        background-color: #C37000 ;
        padding: 10px;
        border-radius: 20px;
        margin-top: 75px;
       ">
        <div class="wrapper"
             style="text-align: center;
         background-color: #FF9300;
         border-radius: 20px;
         font-family:'A-OTF-ShinGoPro';
         color: white;
         font-weight: 300;
         font-size: 40px;
         box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
         padding: 28px 25px;
         justify-content: center;
         "><span style="font-size: 27px; ">最短当日取引開始！</span><br>
            <span style="font-weight: 500;">口座開設はこちら</span>
        </div>
    </div>
    <div class="box-text">
        <h1 class="title">
            先物取引とは?
        </h1>
        <h2>
            「ある商品を将来の時点での一定の日に、取引の時点で一定の価格で買う、または売る約束をする取引」です。<br>
            先物取引の大きな特徴は 3 つ。※このページではもっとも取引枚数の多い「日経 225 ミニ」を基準にご説明していきます。
        </h2>
    </div>
    <div class="paragraph" style="margin-top: 65px;">
        <div class="text-number">
            <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/number-1-icon.png" alt="">
            <h1 class="title">
                スタート時と終了時の値段の「差額」と「倍率」で損益を計算します。
            </h1>
        </div>

        <h2>
            先物取引は、スタート時の値段【買建価格(買いで始めた場合の値段)】または【売建価格(売りで始めた場合 の値段)】と <br>
            【転売価格(買いで始めた場合の決済の値段)】または【買戻価格(売り始めた場合の決済の値段)】 での差額で決済を行います。<br>
            つまり、買いからも売りからも取引を開始することができるので、相場の上がり、 下がりどちらの局面でも利益を狙うことができます。
        </h2>
    </div>
    <img class="graph-img" src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/section-2-image.png"
         alt="">
    <div class="description">
        <h1 class="title">
            具体的なお取引の例:
        </h1>
        <h2>
            <span class="text-lg">32,000</span>円のときに日経<span class="text-lg"> 225 </span>ミニを買い、<span class="text-lg">33,000 </span>
            円で売り決済した場合
            <br>
            <span class="text-lg">(33,000</span>(転売の値段)-<span class="text-lg">32,000</span>(買建値段)×<span
                class="text-lg">100</span>(日経 <span class="text-lg">225</span> ミニの倍率)=<span
                class="text-lg">100,000 </span><br>
            <span class="text-lg">【1,000</span> 円の値上がりで <span class="text-lg">10</span> 万円の利益!】
        </h2>
    </div>
    <div class="paragraph">
        <div class="text-number">
            <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/number-2-icon.png" alt="">
            <h1 class="title">
                取引には期限があります
            </h1>
        </div>

        <h2>
            先物取引は、取引最終日があり取引のできる期間が定められているので、期日までに保有銘柄の決済が必要となります。<br>
            取引最終日までに決されていない建玉(ポジション)については、<span class="text-lg">SQ</span> と呼ばれる数値(特別清算指数)<br>
            により自動的に決済され、損益が確定します。
        </h2>
    </div>
    <div class="paragraph" style="margin-top: 40px">
        <div class="text-number">
            <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/number-3-icon.png" alt="">
            <h1 class="title">
                取引は証拠金(総額のうちの一定の割合)を預け入れることで行います
            </h1>
        </div>

        <h2>
            売り買いの代金の総額は必要なく、【買い】【売り】の証拠としてその一部の金額「証拠金」を当社に預け入れて<br>
            いただくことでお取引が可能となります。<br>
            <span class="text-lg">2023</span> 年 <span class="text-lg">7</span> 月末では、日経 <span
                class="text-lg">225</span> ミニ先物の値段は <span class="text-lg">32,000</span> 円前後ですが、それを <span
                class="text-lg">1</span> 単位「買う」「売る」のに必要 <br>
            な金額「証拠金」は 144,000 円で約 4 パーセントとなります。
        </h2>
        <h2 style="margin-top: 20px;">
            ※決済時に思惑と反対の方向に動いた場合は損失となり、その額は預入金額以上となる場合があります。<br>
            ※実際には為替の変動により損益が発生する場合があります。
        </h2>
    </div>
    <div class="button-lg"
         style="
        width: 30%;
        background-color: #C37000 ;
        padding: 10px;
        border-radius: 20px;
        margin-top: 75px;
       ">
        <div class="wrapper"
             style="text-align: center;
         background-color: #FF9300;
         border-radius: 20px;
         font-family:'A-OTF-ShinGoPro';
         color: white;
         font-weight: 300;
         font-size: 40px;
         box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
         padding: 28px 25px;
         justify-content: center;
         "><span style="font-size: 27px; ">最短当日取引開始！</span><br>
            <span style="font-weight: 500;">口座開設はこちら</span>
        </div>
    </div>
    <div class="text-1">
        <h2 style="margin:80px 0px; color: white; " >フィリップ証券のオンライン先物取引でできること</h2>
    </div>
    <div class="paragraph">
        <div class="text-number">
            <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/number-1-icon.png" alt="">
            <h1 class="title">
                <span class="text-lg">225</span>ミニで手数料 <span class="text-lg">22</span>円 業界最安値水準の手数料 <br>

            </h1>
        </div>

        <h2>
            <span class="text-lg">225</span>先物取引で取引枚数が多く最も取引が活発なのが日経<span class="text-lg">225</span>ミニ。フィリップ証券では、この<span
                class="text-lg">225</span>ミニのお取 <br>
            引手数料が片道 <span class="text-lg">22</span>円/枚(税込)となっていて、業界最安値水準 <span
                class="text-lg">(※2023</span>年 <span class="text-lg">8</span>月現在)となっています。<br>
            よりお得に、より便利に、より効率よく、フィリップ証券ではお取引いただけます。
        </h2>
    </div>
    <div class="paragraph">
        <div class="text-number">
            <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/number-2-icon.png" alt="">
            <h1 class="title">
                <span class="text-lg">J-Net</span>マッチングサービス市場価格よりも有利に約定の可能性あり
            </h1>
        </div>

        <h2>
            取引所外での成立となった場合に市場よりも安く買えたり高く売ることができたりする市場を「ダークプール市場」<br>
            といいます。お客様が発注時に弊社のダークプール市場 <span class="text-lg">「J-Net</span> マッチングサービス」とご希望い<br>
            ただいて約定条件が合えば、証券取引所外で「取引所の価格よりも有利に」約定となる場合があります。 </h2>
    </div>
    <img class="graph-img-2" style="margin: 150px 0px;"
         src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/img-2.png" alt="">
    <div class="paragraph">

        <h2>
            このような状況で<span class="text-lg"> 3 </span> 枚の買いの場合:当社マッチングシステム内に『取引所最良気配以内に <span
                class="text-lg">18 </span> 枚の売り』<br>
            が存最良気配値の <span class="text-lg">33,096</span>円で <span class="text-lg">3</span> 枚の買いが <span
                class="text-lg">J-Net</span> で成立します。同じ状況で取引所での約定では <span class="text-lg">4</span> 円高い
            <span class="text-lg">33,100</span> 円となります。<br>
            ※ <span class="text-lg">1</span> 場合によっては <span class="text-lg">J-Net</span>
            マッチングとご希望いただいても通常の立合市場に回送となる場合があります。 <br>
            ※ <span class="text-lg">2</span> <span class="text-lg">J-Net</span>
            マッチングとご希望いただいた場合でも、有利な価格での約定とならない場合があります。<br>
        </h2>

    </div>
    <div class="paragraph" style="margin-top: 40px; margin-bottom: 130px;">
        <div class="text-number">
            <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/number-3-icon.png" alt="">
            <h1 class="title">
                <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/clock.png" alt="">夜間も祝日も取引できる!
            </h1>
        </div>

        <h2>
            株式の取引は午前 <span class="text-lg">9</span>時から午後 <span class="text-lg">3</span>時までですが、先物取引は午前
            <span class="text-lg">8</span> 時 <span class="text-lg">45</span> 分から午後 <span class="text-lg">3</span>時
            <span class="text-lg">15</span> 分の日中取引と
            <br>
            午後 <span class="text-lg">4</span> 時から翌日午前 <span class="text-lg">6</span>
            時までの夜間取引があり、お客様のお好きなタイミングでお取引可能です、また祝
            <br>
            「クイック入金」の対応もあり、夜間のご入金もスムーズに行えます。
        </h2>
    </div>
</div>
<div class="section-3">

    <div class="text-overlay">
        <div class="paragraph">

            <h1 class="title" style="line-height: 1.5">
                フィリップ証券について <br>
                <span class="text-lg-1">“Your partner in Finance”</span> <br> <br>

            </h1>
            <h1 style="line-height: 2.0; font-size: 18px">
                フィリップ証券の元となる上甲信弘商店は <span class="text-md">1887</span> 年に横浜に誕生しました。<br>
                <span class="text-md">1944</span> 年に前身となる成瀬証券が誕生。<span class="text-md">2012</span>
                年にシンガポールを基盤とする金融総合グループフィリップキャピタル <br>
                グループの一員となり、 グローバル企業へと発展し、フィリップグループのモットーである「長くお付き合い頂ける金融パートナー」を <br>
                目指すとともに、フィリップ証券として、「わかる、かわる」を標語に東京プロマーケットや日経 <span class="text-md">225</span> 先物ダークプールなど
                <br>
                勢いのある新しい商品展開とお客様にわかりやすいサポートを目指している証券会社です。<br>
                日本橋兜町の東京証券取引所すぐそばにある本社は、昭和 <span class="text-md">10</span> 年に西村好時氏の設計で建てられた趣のあるアー
                ル・デコ様式で <br>
                <span class="text-md">TV</span> 東京系「出没!アド街ック天国」などでも紹介されました。

            </h1>


        </div>
    </div>
</div>
<div class="section-4">
    <div class="button-lg"
         style="
        width: 30%;
        background-color: #C37000 ;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 130px;
       ">
        <div class="wrapper"
             style="text-align: center;
         background-color: #FF9300;
         border-radius: 20px;
         font-family:'A-OTF-ShinGoPro';
         color: white;
         font-weight: 300;
         font-size: 40px;
         box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
         padding: 28px 25px;
         justify-content: center;
         "><span style="font-size: 27px; ">最短当日取引開始！</span><br>
            <span style="font-weight: 500;">口座開設はこちら</span>
        </div>
    </div>
    <div class="paragraph-center" style="font-size:20px;">
        <p style="font-weight: 300;font-size: 20px;"> <span style="font-weight: 700; font-size: 28px;">お取引までの流れ</span> <br>
            おススメの方法-【スマホで本人認証 <span class="text-md">(eKYC)</span>】<br>
            お手元にマイナンバーカードがあれば、申込後に届くメールに記載の <span class="text-md">URL</span> にアクセスして書類の画像とご本人 <br>
            の画像を撮影することで書類提出完了、最短で当日にお取引開始していただけます。
        </p>
    </div>
    <div class="steps-container">
        <div class="row">
            <div class="title" style="color: white">
                <p class="text-sm" style="text-align: center;">最短当日開始可能</p>
                <p class="text-md-1" style="text-align: center;">お取引までの流れ</p>
            </div>
        </div>

        <div class="row" style="margin-top: 85px;">
            <div class="box-item">
                <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/step-1.png" alt="">
                <p><span style="font-weight: 500">口座開設申込フォームに必要事項を
                    入力してください。</span><br><br>
                    お申し込み完了後、確認メール記載の
                    リンクよりご本人確認書類をご提出、
                    または郵送にて送付ください。
                </p>
            </div>
            <div class="box-item">
                <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/step-2.png" alt="">
                <p> <span style="font-weight: 500">弊社にてご本人確認書類を確認および
                    弊社所定の審査を行います。</span><br><br>
                    ご本人確認書類については
                    メール等では受理できませんので
                    ご注意ください。
                </p>
            </div>
            <div class="box-item">
                <img src="https://macas-tech.sgp1.cdn.digitaloceanspaces.com/philip-capital/step-3.png" alt="">
                <p> <span style="font-weight: 500">審査完了後、取引システムへの
                    ログインに必要となる情報をご登録の
                    メールアドレス宛に送付いたします。</span><br><br>
                    ログイン後、お取引が可能と
                    なります
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section-5">
    <div class="text">
        <h2>【取引に関する注意事項】<br>
            先物・オプション取引のリスクと費用について~必ずお読み下さい
        </h2>
        <h2 style="margin-top: 20px;">
            <span class="text-lg">1. </span>株価指数先物・株価指数オプション取引にかかるリスク
            株価指数先物・オプションの価格は、対象とする株価指数の変動等により上下しますので、 <br>
            大きな利益を得ることができる反面、大きな損失が生じるおそれがあります。 <br>
            また、株価指数先物取引は、少額の証拠金で当該証拠金の額を上回る額の取引を行うことができるため、<br>
            大きな損失が発生する可能性があります。その損失は証拠金の額だけに限定されず、<br>
            生じた損失が預託された証拠金を上回った場合、お客様は不足金のご入金を請求されることとなります。<br>
            株価指数オプション取引はオプションを行使できる期間には制限があります。<br>
            また、株価指数オプションの市場価格は、現実の株価指数の変動等に連動するとは限りません。<br>
            価格の変動率は現実の株価指数の変動率に比べて大きくなる傾向があり、場合によっては大きな損失が発生する可能性があります。<br>
        </h2>
        <h2 style="margin-top: 20px;">
            <span class="text-lg">2. </span>株価指数オプション取引における買方特有のリスク <br>
            株価指数オプションは期限商品であり、買方が期日までに権利行使または転売をおこなわない場合には 権利は消滅し、買方は投資資金の全額を失うことになります。
        </h2>
        <h2 style="margin-top: 20px;">
            <span class="text-lg">3. </span>株価指数オプション取引における売方特有のリスク <br>
            株価指数オプションは期限商品であり、買方が期日までに権利行使または転売をおこなわない場合には 権利は消滅し、買方は投資資金の全額を失うことになります。<br>
            また、売方は、株価指数オプション取引が成立したときは、証拠金を差し入れまたは預託しなければなりません。<br>
            その後、相場の変動により証拠金の額に不足額が発生した場合には、証拠金の追加差入れまたは追加預託が必要となります。<br><br>
            所定の時限までに不足額を差し入れがない場合等には、建玉の一部または全部を決済・処分させていただく場合もあります。<br>
            この場合、その決済により生じた実現損失について責任を負う必要があります。<br>
            売方は、権利行使の割当てを受けた際には必ずこれに応じる義務があり、<br>
            権利行使価格と最終清算指数(SQ 値)の差額を支払う必要があります。<br>
            株価指数先物取引にかかる費用 <br>
        </h2>
        <h2 style="margin-top: 20px;">
            <span class="text-lg">4. </span>株価指数先物取引の委託手数料は以下の通りです。<br>
            <table>
                <tr>
                    <td style="width: 70%">日経 <span class="text-lg">225 </span>先物取引</td>
                    <td>税込 <span class="text-lg">220</span> 円/枚</td>
                </tr>
                <tr>
                    <td>日経 <span class="text-lg">225 </span>ミニ取引</td>
                    <td>税込 <span class="text-lg">22</span> 円/枚</td>
                </tr>

                <tr>
                    <td>日経 <span class="text-lg">225 </span>マイクロ取引</td>
                    <td>税込 <span class="text-lg">22</span> 円/枚</td>
                </tr>
                <tr>
                    <td><span class="text-lg">TOPIX </span>先物取引</td>
                    <td>税込 <span class="text-lg">220</span> 円/枚</td>
                </tr>
                <tr>
                    <td>ミニ <span class="text-lg">TOPIX </span>先物取引</td>
                    <td>税込 <span class="text-lg">22</span> 円/枚</td>
                </tr>
                <tr>
                    <td>東証マザーズ先物取引</td>
                    <td>税込 <span class="text-lg">22</span> 円/枚</td>
                </tr>
                <tr>
                    <td>日経平均 <span class="text-lg">VI</span>先物取引</td>
                    <td>税込 <span class="text-lg">330</span> 円/枚</td>
                </tr>
                <tr>
                    <td><span class="text-lg">NY</span>ダウ先物取引</td>
                    <td>税込 <span class="text-lg">220</span> 円/枚</td>
                </tr>

            </table>
        </h2>
        <h2 style="margin-top: 20px;">
            <span class="text-lg">5. </span>株価指数オプション取引にかかる費用 <br>
            株価指数オプション取引の委託手数料は、売買代金の <span class="text-lg">0.220%</span>(税込)です。<br>
            ※ただし、最低手数料は税込220円となります。
        </h2>
        <h2 style="margin-top: 20px;">
            <span class="text-lg">6. </span>委託証拠金等について <br>
            株価指数先物・オプション取引をおこなうには、委託証拠金の差し入れが必要です。<br>
            必要委託証拠金は <span class="text-lg">SPAN </span>(シカゴマーカンタイル取引所が開発した証拠金計算方法)によって計算され、<br>
            「(<span class="text-lg">SPAN </span>
            証拠金額×当社が定める証拠金掛目)-ネット・オプション価値総額+先物両建て証拠金」となります。<br>
            ただし、売りオプションを <span class="text-lg">10</span> 枚超保有されている場合には <span class="text-lg">10</span> 枚超の部分に対し
            <span class="text-lg">1</span>枚当たり <span class="text-lg">10</span> 万円が必要証拠<br>
            「<span class="text-lg">SPAN </span>証拠金×当社が定める証拠金掛目(現状 <span class="text-lg">100%</span>)-ネットオプション価値の総額+(オプション売り建
            <br>
            玉枚数-<span class="text-lg">10</span> 枚)×<span class="text-lg">10</span> 万円」<br>
            * 先物両建て証拠金=(建玉枚数-ネットデルタの絶対値)× <span class="text-lg">0.5</span>×株価指数先物取引1枚あたりの<span
                class="text-lg">SPAN </span>証拠金×
            <br>
            当社が定める証拠金掛目
        </h2>
        <h2 style="margin-top: 20px;">
            フィリップ証券株式会社 マルチ-プロダクツ部<br>
            〒 <span class="text-lg">103-0026</span> 東京都中央区日本橋兜町4番3号 兜町ビル<span
                class="text-lg">3</span>階<br>
            <span class="text-lg">TEL: 0120-881-108 </span>(ハヤイ トウシ)<br>
            電話受付時間: 当社営業日 <span class="text-lg">9:00~17:00</span> (土・日および祝日を除く、月~金）
        </h2>
        <h2 style="margin-top: 20px;">
            商号等:フィリップ証券株式会社<br>
            金融商品取引業者:関東財務局長(金商)第 <span class="text-lg">127</span> 号
            商品先物取引業者:経済産業省 <span class="text-lg">20180404</span> 商第 <span class="text-lg">1</span> 号 /
            農林水産省指令 <span class="text-lg">30</span> 食産第 <span class="text-lg">412</span> 号
            <br>
            加入協会:日本証券業協会 / 一般社団法人金融先物取引業協会 / 日本商品先物取引協会 <br>
            本店所在地:東京都中央区日本橋兜町 <span class="text-lg">4</span> 番 <span class="text-lg">2</span> 号
        </h2>
        <h2 style="margin-top: 20px;">
            広告年月日: <span class="text-lg">2023</span> 年 <span class="text-lg">8</span> 月 <span
                class="text-lg">30 </span>日<br>
        </h2>

    </div>


</div>



{% endblock %}